<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
            <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="/home"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="/shop"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                      
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="/home"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="/shop"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                       
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                    <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address">
                            <div class="input-group-append">
                               <a href="/signup"> <button class="btn btn-primary" >Sign Up</button></a>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="https://twitter.com/Prayag60488382"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&next=https%3A%2F%2Fwww.facebook.com%2Fv7.0%2Fdialog%2Foauth%3Fclient_id%3D174829003346%26state%3DAQBg%252F1X3P%252BEeVp2yUC0F8rb18%252BGMYQppV%252FVq78nM%252FG7abyrbElYDUrDDwuPJzEZI3aCQg6skGr9ce1CiZVlkIsGNbjQSpZcALjWQfIdO%252BkxXBMS9b4HzQrR0N2nBze8%252FRyOB9gdPbValGm7929SvYzTQ%252B6e92zG3ZUecvlU5Y1eJdpUK4vCn%252BltcC8qpcGsd0SFzp9873K9c1oteuQrbGiE%253D%26redirect_uri%3Dhttps%253A%252F%252Faccounts.spotify.com%252Flogin%252Ffacebook%252Fredirect%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3De3943873-4bae-406a-9783-d0311eb1bbaf%26tp%3Dunspecified%26cbt%3D1675618490588&lwv=100"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="https://www.linkedin.com/in/prayag-n-32055b1b8/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="https://www.instagram.com/prayag333/?igshid=ZDdkNTZiNTM%3D"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">LapMania</a>. All Rights Reserved. Designed
                by
                <a class="text-primary" href="https://prayagn.github.io">Prayag</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- Back to Top -->
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/12bbeadedc.js" crossorigin="anonymous"></script>
    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/public/website/js/main.js"></script>

<script>
    function searchProduct(){
    
    const search = document.getElementById('search_input').value;
    const checkboxes = document.querySelectorAll('input[name="brand"]');
  
  let checkedValues = [];

  checkboxes.forEach((checkbox) => {
    if (checkbox.checked) {
      checkedValues.push(checkbox.value);
    }
  });
  const selectOption = document.getElementById('sort-select').value;
  console.log(selectOption);
  const page = document.getElementById("page").innerHTML
                console.log(page);    
  console.log(checkedValues);
  console.log(search);

    $.ajax({
        url: '/search',
        method: 'post',
        data: {
            search: search,
            brand:checkedValues,
            page:page,
            sort:selectOption
        },
        success: function(response) {
            let searchedArea = document.getElementById('searched');
            let html = "";
            if(response.product) {
                response.product.forEach((element) => {
                    html += `<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden">
                                        <img class="img-fluid w-100" src="/productImages/${element.image[0]}" style="height: 16rem;" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                            <% if(typeof wishlistExists === 'undefined'){ %>
                                                <a class="btn btn-outline-dark btn-square" href="/addtowishlist?id=${element._id}"><i class="far fa-heart"></i></a>
                                            <% } else { %>
                                                <!-- <a class="btn btn-outline-danger " href=""><i class="far fa-heart"></i></a> -->
                                            <% } %>
                                        
                                            <a class="btn btn-outline-dark btn-square" href="/productdetail?id=${element._id}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <span style="display:inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 18ch;">${element.name}</span>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5 style="font-size: 16px;">&#x20B9;${element.offerPrice}</h5>
                                            <h6 class="text-muted ml-2"><del style="font-size: 16px;">&#x20B9;${element.price}</del></h6>
                                        </div>
                                        <div class="d-flex mt-2">
                                    <h5 style="font-size: 16px;">Brand:${element.brand}</h5>
                                         
                                 </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                });
                searchedArea.innerHTML = html;
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
}

function wishlist(productId){
    let wishlisticon=document.getElementById(`wish-${productId}`)
    console.log(wishlisticon);
            $.ajax({
                url:`addtowishlist/${productId}`,
                method:'get',
                success:(response)=>{
                    if(response.exists == true){
                        // wishlisticon.classList.remove('fa fa-heart');
                        wishlisticon.classList.add('fafa-heart','text-danger');
                        const Toast = Swal.mixin({
                                toast: true,
                                position: 'top',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                                })

                                Toast.fire({
                                icon: 'success',
                                title: 'Item added to wishlist'
                                })
                                setTimeout(()=>{
                                    location.reload();

                                },1000)
                    }else if(response.exists == false){
                         $.ajax({
                url:`/removewishlist`,
                method:'get',
                data:{productId},
                success:(response)=>{
                        // wishlisticon.classList.remove('fa fa-heart');
                        wishlisticon.classList.add('fasfa-heart');
                        const Toast = Swal.mixin({
                                toast: true,
                                position: 'top',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                                })

                                Toast.fire({
                                icon: 'warning',
                                title: 'Item removed from wishlist'
                                })
                                setTimeout(()=>{
                                    location.reload();

                                },1000)
                    
                    
                         }

                
                

            })
                    }
                    
                         }

                
                

            })
        }
             
        const dropdownItems = document.querySelectorAll('.dropdown-item');
    
        dropdownItems.forEach(item =>{
            item.addEventListener('click',event =>{
                const selectedSort = item.getAttribute('data-sort');
                console.log(selectedSort);
                const page = document.getElementById("page").innerHTML
                   
                $.ajax({
                    url:`/sortPrice`,
                    method:'post',
                    data:{
                        option:selectedSort,
                        page:Number(page)
                    },
                    success:function(response){
                        let filterArea = document.getElementById('searched');
                        let html = ""
                        if(response.product){
                            response.product.forEach((element)=>{
                                html +=`<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden">
                                        <img class="img-fluid w-100" src="/productImages/${element.image[0]}" style="height: 16rem;" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                            <% if(typeof wishlistExists === 'undefined'){ %>
                                                <a class="btn btn-outline-dark btn-square" href="/addtowishlist?id=${element._id}"><i class="far fa-heart"></i></a>
                                            <% } else { %>
                                                <!-- <a class="btn btn-outline-danger " href=""><i class="far fa-heart"></i></a> -->
                                            <% } %>
                                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href="/productdetail?id=${element._id}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <span style="display:inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 18ch;">${element.name}</span>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5 style="font-size: 16px;">&#x20B9;${element.offerPrice}</h5>
                                            <h6 class="text-muted ml-2"><del style="font-size: 16px;">&#x20B9;${element.price}</del></h6>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                            }),
                            filterArea.innerHTML =html
                        }
                    }, error: function(error) {
            console.log(error);
        }
                })
            })
        })
       
    
function addtocart(productId){
    let carticon=document.getElementById(`cart-${productId}`)
    console.log(carticon);
            $.ajax({
                url:`addtocart/${productId}`,
                method:'get',
                success:(response)=>{
                    if(response.exists == true){
                        // wishlisticon.classList.remove('fa fa-heart');
                        wishlisticon.classList.add('fafa-heart','text-danger');
                        const Toast = Swal.mixin({
                                toast: true,
                                position: 'top',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                                })

                                Toast.fire({
                                icon: 'success',
                                title: 'Item added to cart'
                                })
                                setTimeout(()=>{
                                    location.reload();

                                },1000)
                    }else if(response.exists == false){
                         $.ajax({
                url:`/removewishlist`,
                method:'get',
                data:{productId},
                success:(response)=>{
                        // wishlisticon.classList.remove('fa fa-heart');
                        wishlisticon.classList.add('fasfa-heart');
                        const Toast = Swal.mixin({
                                toast: true,
                                position: 'top',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                                })

                                Toast.fire({
                                icon: 'warning',
                                title: 'Item removed from wishlist'
                                })
                                setTimeout(()=>{
                                    location.reload();

                                },1000)
                    
                    
                         }

                
                

            })
                    }
                    
                         }

                
                

            })
        }
        
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>