<%-include("../layouts/websitehead.ejs")%>


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle " width="280px" src="https://i.pinimg.com/originals/0a/f3/c9/0af3c9613761d2d2394d99312aeba397.gif"><span class="font-weight-bold"><%=userData.name%></span><span class="text-black-50"><%=userData.email%></span><span> </span></div>
        </div>
        <div class="col-md-8 ">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Add Address</h4>
                </div>
                <div class="row mt-2">
                    <!-- <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div> -->
                    <!-- <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div> -->
                </div>
                <div class="row mt-3">
                    <form action="/addAddress" method="post">
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- <p class="mb-0">Address</p> -->
                            </div>
                            <div class="col-sm-9 mx-1  ">
                                <input type="text" placeholder="Name" name="name" class="w-100"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="text" placeholder="Mobile" name="mobile" class="w-100"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="text" placeholder="House name" name="house" class="w-100"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="text" class="w-100 " placeholder="Street" name="street"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="text" class="w-100" placeholder="City" name="city"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="text" class="w-100" placeholder="district" name="district"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="text" class="w-100" placeholder="State" name="state"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="text" class="w-100" placeholder="Country" name="country"
                                    style="height: 40px;  border-width: 1px;  border: none;"><br><br>
                                <input type="number" class="w-50" placeholder="Pincode" name="pincode"
                                    style="height: 40px;  border-width: 1px;  border: none;">
                                <br>    
                                <div class="mt-5   text-center"><button class="btn btn-primary profile-button" type="submit">Save Address</button></div>
                            </div>

                        </div>
                    </form>
            </div> 
        </div>
        <div class="col-md-4">
            <!-- <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div> -->
        </div>
    </div>
</div>
</div>
</div>

<%-include('../layouts/websitefooter.ejs')%>