
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap_store</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
</head>
<body>
     -->
<!-- <h1>Forget password</h1> -->

<!-- <div > 
    <%
if(typeof message !== 'undefined'){
%>
<p style="color: red; padding-left: 100px; padding-bottom: 30px;"> <%= message %></p>
<%
}
%></div> -->

<!-- <form action="/forget" method="post">

    <input type="email" name="email" placeholder="Enter your email"> 
    <br><br>

    <input type="submit" name="" id="" value="Send Reset Link">
</form> -->

<%- include('../layouts/header.ejs') %>

<div class=" d-flex flex-column  " >
    <div class="row  justify-content-center
        min-vh-100 g-0" style=" background-image:url('https://assets.website-files.com/5fbe491fb0b0b418d5918f32/5fbe491f426f622cafcfce34_bg-additional-utility-pages-tech-ui-kit.svg');">
      <div class="col-12 col-md-8 col-lg-4  border-3 border-primary d-flex align-items-center justify-content-center  " style="animation-name: example;" >
        <div class="card shadow-sm " style=" animation-name: example; position: relative; animation-duration: 1s; animation-fill-mode:forwards;">
            <div > 
                <%
            if(typeof message !== 'undefined'){
            %>
            <p style="color: red;" class="d-flex justify-content-center" >  <%= message %></p>
            <%
            }
            %></div>
          <div class="card-body">
            <div class="mb-4">
              <h5 class="d-flex justify-content-center">Forgot Password?</h5>
              <p class="mb-2 d-flex justify-content-center ">Enter your registered email ID to reset the password
              </p>
            </div>
            <form action="/forget" method="POST">
              <div class="mb-3">
                <!-- <label for="email" class="form-label">Email</label> -->
                <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary" >
                  Reset Password
                </button>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
        
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<%- include('../layouts/footer.ejs')%>
