

<%- include('../layouts/head.ejs') %>
    <div class="container ">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <form action="/check" method="post">
        <div class="input-field" >
          <input type="string" name="otp1"   />
          <input type="string" disabled name="otp2"  />
          <input type="string" disabled  name="otp3" />
          <input type="string" disabled  name="otp4" />
          <input type="string" disabled  name="otp5" />
          <input type="string" disabled  name=otp6 />
        </div>
        <button type="submit" >Verify OTP</button>
      </form>
      <div style="color: red; margin-top: 13px;"><span id="timer" style="color: rgb(255, 0, 0);"></span></div>
      <a href="/resendOtp"> <button id="myButton" style="display:none;background: transparent; color: blue;" pointer-events: auto;>Resend OTP</button></a>
      <div > 
        <%
    if(typeof message !== 'undefined'){
    %>
    <p style="color: red; padding-left: 100px; padding-bottom: 30px;"> <%= message %></p>
    <%
    }
    %></div>
    </div>

    <script>
      setTimeout(function() {
        document.getElementById("myButton").style.display = "block";
      }, 30000);
      </script>

 <%- include('../layouts/foot.ejs') %>