<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/loginstyle.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Document</title>
  </head>
  <body> -->
<%- include('../layouts/header.ejs') %>
    <section class="vh-100" >
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <div>
                      <% if(typeof message !== 'undefined'){ %>
                      <p
                        style="
                          color: red;
                          padding-left: 100px;
                          padding-bottom: 30px;
                        "
                      >
                        <%= message %>
                      </p>
                      <% } %>
                    </div>
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                      Sign up
                    </p>

                    <form
                      action="/signup"
                      method="post"
                      
                    >
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"  style="margin-top: -30px;"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="usrn"
                            required,
                            autocomplete="off"
                          />
                          <label class="form-label" for="form3Example1c"
                            >Your Name</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"  style="margin-top: -30px;"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="email"
                            class="form-control"
                            name="em"
                            id="email"
                            required
                            autocomplete="off"
                          />
                          <label class="form-label" for="form3Example3c"
                            >Your Email</label
                          >
                        </div>
                      </div>
                      

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"  style="margin-top: -30px;"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            class="form-control"
                            name="psw"  
                            id="psw"
                            required
                            autocomplete="off"
                          />

                          <label class="form-label" for="form3Example4c"
                            >Password</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"  style="margin-top: -30px;"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            class="form-control"
                            name="psw1"
                            id="re_psw"
                            required
                            autocomplete="off"
                          />
                          <label class="form-label" for="form3Example4cd"
                            >Repeat your password</label
                          >
                        </div>
                      </div>
                    

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw" style="margin-top: -30px;"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="number"
                            id="mob"
                            class="form-control"
                            name="mob"
                            maxlength="10"
                            required
                            autocomplete="off"
                            
                          />
                          <label class="form-label" for="form3Example4cd"
                            >Mobile</label
                          >
                    
                        </div>
                      </div>
                    

                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        <button
                        
                          type="submit"
                          class="btn btn-primary btn-lg"
                        >
                          Register
                        </button>
                      </div>
                    </form>
                  </div>
                  <div
                    class="col-md-10 col-lg-6 col-xl-7 align-items-center mt-5 order-1 order-lg-2"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid mt-5"
                      alt="Sample image" 
                    />
                    <div class="text-center">
                        <div>
                          <p class="small fw-bold mt-2 pt-1 mb-0">
                            Already have an account
                            <a href="/login" class="link-primary">Login</a>
                          </p>
                        </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <style>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  </style>
<%- include('../layouts/footer.ejs') %>
<!--     
      //   function checkpassword(){
      //     let password=document.getElementById('p1').value;
      //     let confirmpassword=document.getElementById('p2').value;
      //     let message = document.getElementById("message");

      //     if(password != confirmpassword ){
      //         message.textContent ="passwords do not match";
      //     }else if(password.length<4){
      //         message.textContent ="passwords should have atleast 4 characters";

      //     }

      // }

      // function show(){
      //     let x = document.getElementById('p1')
      //     if(x.type ==="password"){
      //         x.type ="text";
      //         document.getElementById('lock').className="fa-solid fa-unlock"
      //     }else{
      //         x.type ="password";
      //         document.getElementById('lock').className="fa-solid fa-lock"
      //     }
      // }

      // function a(){
      //     const regex_pattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,3}))$/;
      //     let password=document.getElementById('p1').value;
      //     let confirmpassword=document.getElementById('p2').value;
      //     let email =document.getElementById('e').value;
      //     let message1=document.getElementById('message1');

      //     if(password === confirmpassword && password.length >= 4 && regex_pattern.test(email)  ){
      //         return true
      //     }else{
      //         message1.textContent ="invalid email"

      //         return false

      //     }
      // }

      // function checkPassword() {
      //   let password = document.getElementById("psw").value;
      //   let cnfrmPassword = document.getElementById("re_psw").value;
      //   let message = document.getElementById("message1");
      //   let pmessage = document.getElementById("message2");
      //   let mobile = document.getElementById("mob");

      //   const regex =
      //     /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,3}))$/;
      //   let email = document.getElementById("email").value;

      //   if (regex.test(email) == false) {
      //     message.textContent = "Invalid Email";
      //     message.style.color = "red";
      //     return false;
      //   } else if (password !== cnfrmPassword) {
      //     pmessage.textContent = "Confirm Password is incorrect";
      //     pmessage.style.color = "red";
      //     return false;
      //   } else if (password.length <4) {
      //     pmessage.textContent = "Password should need minimum 6";
      //     pmessage.style.color = "red";
      //     return false;
      //   } else if(mob.length ===10){
      //       mobmesssage.textContent ="number should need 10 digits";
      //       mobmesssage.style.color ="red";
      //   }
        
      //   else {
      //     document.getElementById("message").style.display = "none";
      //     return true;
      //   }
      // }
    -->
<script>
const fullName = document.getElementById('name');

fullName.addEventListener('input', function() {
  const regex = /^[A-Za-z]+(([',. -][A-Za-z ])?[A-Za-z]*)*$/;
  if (!regex.test(fullName.value)) {
    fullName.setCustomValidity('Please enter a valid full name.');
  } else {
    fullName.setCustomValidity('');
  }
});

document.getElementById('email').addEventListener('input',function(){
  const email = document.getElementById('email');
  const regex =/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,3}))$/;
    if(!regex.test(email.value)){
      email.setCustomValidity('Enter valid email');
    }else{
      email.setCustomValidity('');
    }    
});

const password = document.getElementById('psw');
const confirmPassword = document.getElementById('re_psw');

password.addEventListener('input', function() {
  if (password.value.length < 5) {
    password.setCustomValidity('Password must be at least 5 characters.');
  } else {
    password.setCustomValidity('');
  }
});

confirmPassword.addEventListener('input', function() {
  if (password.value !== confirmPassword.value) {
    confirmPassword.setCustomValidity('Passwords do not match.');
  } else {
    confirmPassword.setCustomValidity('');
  }
});

const mobileNumber = document.getElementById('mob');
mobileNumber.addEventListener('input', function() {
  const regex = /^[0-9]{10}$/;
  if (!regex.test(mobileNumber.value)) {
    mobileNumber.setCustomValidity('Please enter a valid 10-digit mobile number.');
  } else {
    mobileNumber.setCustomValidity('');
  }
});



</script>